
body{
	margin: 0;
	padding: 0;
}

.page-content{
	width: 100%;
}

.top-header{
	width: 100%;
	height: 70px;
	background-color: #2b3963;
	margin-top: -16px;
	position: fixed;
    top: 0;
    display: flex;
    z-index: 4;
}

.nav-content{
    width: 96%;
    height: 77%;
}

.left-nav{
	height: 78%;
	margin-block-start: 0;
	width: 10%;
}

.header-content{
    padding: 8px;
    overflow: hidden;
}

.header-content:hover{
    background-color: #cab2ba;
}

.subnav .subnavbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: #2b3963;
    width: 250px;
    z-index: 1;
    height: 50px;
    margin-left: -5%;
    margin-top: 8px;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav {
    float: left;
    overflow: hidden;
}

.header-text{
	color: white;
}

li{
	float: left;
	list-style-type: none;
}

li a {
	text-decoration: none;
}

li .und:hover {
	text-decoration: underline;
}

.right-nav{
	height: 100%;
	margin-block-start: 0;
    float: right;
    margin-top: -35px;
}

.logo-img{
    height: 100%;
    margin-top: 6%;
}

/* slides */

.slides {
	display:none
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}

.w3-badge {
	height:13px;
	width:13px;
	padding:0
}

.w3-section-custom{
    margin-top: 16px!important;
    margin-bottom: 10% !important;
}

.slide-images{
    margin-top: 54px;
    height: 370px;
}

/* content */

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #a4b1bd;
    padding: 56px;
    justify-content: center;
}

.content > div {
    background-color: #f1f1f1;
    width: 360px;
    margin: 26px;
    text-align: center;
    line-height: 250px;
    border-radius: 20px;
}

.content-img{
    width: 24%;
    margin-top: -40%;
}

.content-title{
    margin-top: -150px;
    line-height: 20px;
}

/* footer */
.footer {
    position: relative;
    width: 100%;
    background-color: #2b3963;
    color: #fff;
    text-align: center;
}

.fclass{
    padding: 12px;
    margin-block-end: 0;
    margin-block-start: 0;
}

/* contact details */
.contact {
    display: flex;
    flex-wrap: wrap;
    background-color: #5b6379;
    padding: 56px;
    justify-content: center;
}

.contact > div {
    background-color: #f1f1f1;
    width: 565px;
    margin: 26px;
    text-align: center;
    line-height: 250px;
}

.contact-title{
    line-height: 40px;
}

.contact-info{
    text-align: left;
    padding-left: 14px;
}

.inquiries-details{
    margin-top: -10px;
}

.phone-details{
    margin-top: -10px;
}

.iframe-map{
    height: 340px;
}

.content-contact {
    display: flex;
    flex-wrap: wrap;
    background-color: #a4b1bd;
    height: 340px;
}

.content-contact > div {
    background-color: #f1f1f1;
    width: 282px;
    text-align: center;
    line-height: 53px;
}

.content-contact-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #a4b1bd;
}

.content-contact-form > div {
    background-color: #f1f1f1;
    width: 282px;
    text-align: center;
    line-height: 53px;
    padding: 20px;
    border-right: inset;
}

.contact-first-form{
    height: 340px;
}

.image-contact-form{
    width: 165px;
}

.contact-form-title{
    display: block;
    font-size: 24px;
    color: #333333;
    text-align: center;
    padding-bottom: 44px;
}

.wrap-input{
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

input.input-data{
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

.input-data{
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

input{
    border: none;
}

.input-data-text-area{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 150px;
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

textarea{
    outline: none;
    border: none;
    resize: vertical;
}

.container-contact-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form-btn{
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    outline: none !important;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;

}

.contact-form-btn:hover {
    background: #333333;
}

.contact-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.contact-form-btn i {
    margin-left: 7px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

@media only screen and (max-width: 745px){

    .content-contact{
        background-color: #5b6379;
        justify-content: center;
    }

    .content-contact > div {
        width: 100%;
    }

    .content-contact-form{
        background-color: #5b6379;
        justify-content: center;
    }

    .content-contact-form > div {
        width: 100%;
    }

    .contact-info-form{
        margin-top: 260px;
    }

    .content{
        justify-content: center;
    }

    .slide-images {
        height: 280px;
    }

}

@media only screen and (max-width:954px){
    .content{
        justify-content: center;
    }

    .content > div{
        width: 533px;
    }

    .content-img {
        width: 90px;
        margin-top: -140px;
    }
}